  {% extends "partials/layout.njk"%}
    {% block title %} Edit{% endblock %}
     {% block content %}
    <form action="/movies/edit/{{movie.id}}" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
       <input id="name" class="form-control" type="text" placeholder="movie name" name= "movie name">
        </div>
        <div class="mb-3">
        <label for="year" class="form-label">year</label>
       <input id="year" class="form-control" type="number" placeholder="movie year" name= "year">
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">description</label>
       <input id="description" class="form-control" type="text" placeholder="Movie description" name= "description">
        </div>
        <input type="submit" value = "update">
    </form>
   
    {% endblock %}